<div class="post">
    <a href="{{ post.url }}" style="color: #4a4a4a;">
        <article class="media">

            {% if post.header.featured_image %}
                <div class="media-left">
                    <figure class="image">
                        {{ post.media[post.header.featured_image].cropZoom(160, 120).html('',post.title|escape)}}
                    </figure>
                </div>
            {% endif %}

            <div class="media-content">
                <div class="content">
                    <h3>{{ post.title }}</h3>                    
                    {% if post.header.intro %}
                        {{ post.header.intro|markdown }}
                    {% else %}
                        {{ post.summary(120) }}
                    {% endif %}
                    <small>{{ post.header.publish_date|nicetime() }}</small>
                </div>
            </div>
        </article>
    </a>
</div>

<hr>